[submodule "pizza-order"]
	path = pizza-order
	url = https://github.com/GStreet71/pizza-order.git
[submodule "fake-chiefsfan-finder"]
	path = fake-chiefsfan-finder
	url = https://github.com/GStreet71/fake-chiefsfan-finder.git
[submodule "fill-in-the-blank-lyrics"]
	path = fill-in-the-blank-lyrics
	url = https://github.com/GStreet71/fill-in-the-blank-lyrics.git
[submodule "banking-program"]
	path = banking-program
	url = https://github.com/GStreet71/banking-program.git
[submodule "basic-login-logic"]
	path = basic-login-logic
	url = https://github.com/GStreet71/basic-login-logic.git
[submodule "daily-affirmations"]
	path = daily-affirmations
	url = https://github.com/GStreet71/daily-affirmations.git
[submodule "split-the-bill"]
	path = split-the-bill
	url = https://github.com/GStreet71/split-the-bill.git
