[submodule "pizza-order"]
	path = pizza-order
	url = https://github.com/GStreet71/pizza-order.git
[submodule "fake-chiefsfan-finder"]
	path = fake-chiefsfan-finder
	url = https://github.com/GStreet71/fake-chiefsfan-finder.git
[submodule "fill-in-the-blank-lyrics"]
	path = fill-in-the-blank-lyrics
	url = https://github.com/GStreet71/fill-in-the-blank-lyrics.git
[submodule "banking-program"]
	path = banking-program
	url = https://github.com/GStreet71/banking-program.git
[submodule "basic-login-logic"]
	path = basic-login-logic
	url = https://github.com/GStreet71/basic-login-logic.git
[submodule "daily-affirmations"]
	path = daily-affirmations
	url = https://github.com/GStreet71/daily-affirmations.git
[submodule "split-the-bill"]
	path = split-the-bill
	url = https://github.com/GStreet71/split-the-bill.git
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = https://github.com/GStreet71/rock-paper-scissors.git
[submodule "truelove-ranking"]
	path = truelove-ranking
	url = https://github.com/GStreet71/truelove-ranking.git
[submodule "life-remaining"]
	path = life-remaining
	url = https://github.com/GStreet71/life-remaining.git
[submodule "is_leapyear"]
	path = is_leapyear
	url = https://github.com/GStreet71/is_leapyear.git
[submodule "high-score"]
	path = high-score
	url = https://github.com/GStreet71/high-score.git
